.container-3{
    width: 1880px;
    height: 1800px;
    background-image: url(https://img.freepik.com/free-photo/soft-pink-wooden-background_24837-20.jpg?size=626&ext=jpg&ga=GA1.1.556705.1695271294&semt=ais);
}

.form-2{
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    gap: 15%;
}

.imagen-princ-2{
    margin-left: 200px;
    width: 1000px;
    height: 450px;
}

.titulo-2{
    color: rgb(171, 58, 58);
    display: flex;
    flex-direction: column;
    margin-left: 350px;
    margin-top: 30px;
}

.titulo-colores{
    color: rgb(171, 58, 58);
}

.btn-vista2{
    color: black;
    font-weight: bold;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(171, 58, 58);
    margin-top: 50px;
    margin-left: 50px;
    width: 150px;
    height: 50px;
    border: 2px solid rgb(38, 37, 37);
    border-radius: 10px;
}