.container{
    margin: 10px;
}

.container-princ{
    width: 1900px;
    height: 900px;
    background-image: url(https://img.freepik.com/free-vector/white-abstract-background_23-2148833155.jpg?size=626&ext=jpg&ga=GA1.2.556705.1695271294&semt=sph);
}

.img-princ{
    margin-top: 50px;
    margin-left: 100px;
    width: 700px;
    height: 500px;
}

.crea{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 50px;
    font-family: 'Lucida Sans';
    flex-direction: column;
    margin-left: 580px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.btn-principal{
    margin-left: 450px;
    font-size: 200%;
    font-family:'Helvetica Neue';
    color: aliceblue;
    background-color: rgb(36, 143, 143);
    border: 2px solid rgba(0, 0, 0, 0.356);
    border-radius: 8px;
}   