@media(width <= 481px){
    .fondo{
        border: 1px solid rgb(56, 55, 55);
        padding: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
        width:400%;
        height: 2300px;
    }
    
    .barraSuperior{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid gray;
        border-radius: 20px;
        margin-bottom: 50px ;
        margin-top: 30px;
    }
    
    .sitioNombre{
        font-size: 100px;
        font-weight: bold;
        display: flex;
        margin-right: 150px;
        margin-left: 40px;
    }
    
    .logo{
        display: flex;
        width: 500px;
        margin-right: 50px;
    }
    
    .body{
        display: flex;
        flex-direction: row;
    }
    
    .columna-izquierda{
        color: ghostwhite;
        margin-top: 20px;
        border: 1px solid rgb(128, 128, 128);
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        height: 1750px;
    }
    
    .eslogan{
        color: rgb(235, 217, 217);
        display: flex;
        flex-direction: row;
        font-size: 90px;
        font-weight: bold;
        margin-top: 100px;
        margin-left: 50px;
        margin-bottom: 50px;
        -webkit-text-stroke: 0.5px rgb(47, 46, 44);
    }
    
    .descripcion{
        font-size: 60px;
        margin-top: 70px;
        margin-left: 30px;
        margin-bottom: 80px;
    }
    
    ul{
        list-style-type: circle;
        font-size: 50px;
        margin-top: 50px;
        margin-left: 30px;
    }
    .columna-derecha{
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-content: flex-start ;
    }
    
    .imagen1{
        width: 500px;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 100px;
    }
    
    .imagen2{
        width: 500px;
        margin-left: 100px;
        margin-right: 80px;
    }
    
    .imagen3{
        width: 500px;
        height: 500px;
        margin-left: 100px;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    
    .botones{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn-cambios{
        color: rgb(228, 230, 232);
        font-size: 50px;
        font-weight: bold;
        padding: 10px;
        background-color: rgb(215, 128, 96);
        width: 300px;
        height: 200px;
        margin-left: 50px;
        margin-right: 200px;
        border: 1px solid rgb(30, 29, 29);
        border-radius: 20px;
    }
    
    .btn-sitio{
        width: 300px;
        color: rgb(228, 230, 232);
        background-color: rgb(184, 83, 46);
        font-size: 50px;
        font-weight: bold;
        border: 1px solid rgb(33, 32, 32);
        border-radius: 20px;
        margin-right: 500px;
        padding: 10px;
    }
    
    .btn-borrar{
        background-color: rgb(193, 28, 28);
        color: whitesmoke;
        font-size: 50px;
        font-weight: bold;
        width: 1000px;
        height: 100px;
        border: 1px solid rgb(54, 52, 52);
        border-radius: 20px;
        padding: 10px;
    }
}

@media (482px <= width <= 1023px){
    .fondo{
        border: 1px solid rgb(56, 55, 55);
        padding: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
        width:400%;
        height: 2300px;
    }
    
    .barraSuperior{
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid gray;
        border-radius: 20px;
        margin-bottom: 50px ;
        margin-top: 30px;
    }
    
    .sitioNombre{
        font-size: 100px;
        font-weight: bold;
        display: flex;
        margin-right: 150px;
        margin-left: 40px;
    }
    
    .logo{
        display: flex;
        width: 500px;
        margin-right: 50px;
    }
    
    .body{
        display: flex;
        flex-direction: row;
    }
    
    .columna-izquierda{
        color: ghostwhite;
        margin-top: 20px;
        border: 1px solid rgb(128, 128, 128);
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        height: 1750px;
    }
    
    .eslogan{
        color: rgb(235, 217, 217);
        display: flex;
        flex-direction: row;
        font-size: 90px;
        font-weight: bold;
        margin-top: 100px;
        margin-left: 50px;
        margin-bottom: 50px;
        -webkit-text-stroke: 0.5px rgb(47, 46, 44);
    }
    
    .descripcion{
        font-size: 60px;
        margin-top: 70px;
        margin-left: 30px;
        margin-bottom: 80px;
    }
    
    ul{
        list-style-type: circle;
        font-size: 50px;
        margin-top: 50px;
        margin-left: 30px;
    }
    .columna-derecha{
        margin-top: 20px;
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        align-content: flex-start ;
    }
    
    .imagen1{
        width: 500px;
        margin-top: 30px;
        margin-bottom: 50px;
        margin-left: 100px;
    }
    
    .imagen2{
        width: 500px;
        margin-left: 100px;
        margin-right: 80px;
    }
    
    .imagen3{
        width: 500px;
        height: 500px;
        margin-left: 100px;
        margin-top: 100px;
        margin-bottom: 20px;
    }
    
    .botones{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .btn-cambios{
        color: rgb(228, 230, 232);
        font-size: 50px;
        font-weight: bold;
        padding: 10px;
        background-color: rgb(215, 128, 96);
        width: 300px;
        height: 200px;
        margin-left: 50px;
        margin-right: 200px;
        border: 1px solid rgb(30, 29, 29);
        border-radius: 20px;
    }
    
    .btn-sitio{
        width: 300px;
        color: rgb(228, 230, 232);
        background-color: rgb(184, 83, 46);
        font-size: 50px;
        font-weight: bold;
        border: 1px solid rgb(33, 32, 32);
        border-radius: 20px;
        margin-right: 500px;
        padding: 10px;
    }
    
    .btn-borrar{
        background-color: rgb(193, 28, 28);
        color: whitesmoke;
        font-size: 50px;
        font-weight: bold;
        width: 1000px;
        height: 100px;
        border: 1px solid rgb(54, 52, 52);
        border-radius: 20px;
        padding: 10px;
    }
}

@media (1023px <= width){
.fondo{
    border: 1px solid rgb(56, 55, 55);
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.barraSuperior{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid gray;
    border-radius: 20px;
}

.sitioNombre{
    font-size: 50px;
    font-weight: bold;
    display: flex;
    margin-left: 50px;
    margin-right: 600px;
}

.logo{
    display: flex;
    width: 150px;
    margin-right: 50px;
}

.body{
    display: flex;
    flex-direction: row;
}

.columna-izquierda{
    color: ghostwhite;
    margin-top: 20px;
    border: 1px solid rgb(128, 128, 128);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.eslogan{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    margin-left: 80px;
    -webkit-text-stroke: 0.5px rgb(47, 46, 44);
}

.descripcion{
    font-size: 25px;
    margin-top: 70px;
    margin-left: 30px;
}

ul{
    list-style-type: circle;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 30px;
}
.columna-derecha{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-start ;
}

.imagen1{
    width: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 100px;
}

.imagen2{
    width: 200px;
    margin-left: 390px;
    margin-right: 80px;
}

.imagen3{
    width: 200px;
    height: 200px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-cambios{
    color: rgb(228, 230, 232);
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(215, 128, 96);
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid rgb(30, 29, 29);
    border-radius: 20px;
}

.btn-sitio{
    color: rgb(228, 230, 232);
    background-color: rgb(184, 83, 46);
    font-size: 25px;
    font-weight: bold;
    border: 1px solid rgb(33, 32, 32);
    border-radius: 20px;
    margin-right: 600px;
    margin-bottom: 50px;
    padding: 10px;
}

.btn-borrar{
    background-color: rgb(193, 28, 28);
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 50px;
    border: 1px solid rgb(54, 52, 52);
    border-radius: 20px;
    padding: 10px;
}
}



